section#tipos-de-atendimento {
  padding: 40px 0;
  text-align: center;
  color: var(--color-sky-darker);

  h2 {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
  }

  ul {
    max-width: 200px;
    margin: 0 auto;

    li {
      font-size: 16px;
      line-height: 22px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 80%;

      &:nth-of-type(even) {
        background-image: url("/lines.svg");
      }

      &:nth-of-type(odd) {
        background-image: url("/lines-purple.svg");
      }
      
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (min-width: 780px) {
  section#tipos-de-atendimento {
    padding: 120px 0;

    h2 {
      margin-bottom: 50px;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      max-width: 500px;

      li {
          font-size: 17px;
          line-height: 35px;
          align-self: center;
      }
    }

  }
}

@media (min-width: 1000px) {
  section#tipos-de-atendimento {
    h2 {
      margin-bottom: 50px;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      max-width: 800px;
    }
  }
}